.widget div ul li.indentLevel_1 {
    display: none;
}

/*#col3_content table tbody a {*/
/*display: block;*/
/*}*/

.product-list-status a.os_pages.active {
    background-color: #787360;
    color: white;
}

#col3_content .amount-to-add input.count {
         width: 30px;
         text-align: center;
         font-size: 1em;
         margin: 3px 0 0;
         padding: 0;
         -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 2px 5px inset;
         -webkit-box-sizing: border-box;
         border: 1px solid #D4D4D4;
         border-bottom-left-radius: 3px 3px;
         border-bottom-left-radius: 3px 3px;
         border-bottom-right-radius: 3px 3px;
         border-bottom-right-radius: 3px 3px;
         border-top-left-radius: 3px 3px;
         border-top-left-radius: 3px 3px;
         border-top-right-radius: 3px 3px;
         border-top-right-radius: 3px 3px;
         color: #7A7A7A;
    }

