

<form class="cart-form" action="{% url "cart:add" product.id %}" method="post">
    {% csrf_token %}

    {% with form=product.get_cart_form %}
        {{ form.non_field_errors }}

        {{ form.quantity.errors }}
        {{ form.quantity.label_tag }}
        {{ form.quantity }}

        {% if product.get_sizes %}
            {{ form.size.errors }}
            {{ form.size.label_tag }}
            {{ form.size }}
        {% endif %}

        {{ form.update.errors }}
        {{ form.update }}

    {% endwith %}

    <div class="clearfix cart-total">
         <span class="cart-submit">
             <span class="btn-link-green btn-link">
                 <button class="btn-link-i" id="popup-checkout" type="submit">Добавить в корзину</button>
             </span>
         </span>
    </div>
</form>
