{% load staticfiles %}{% load i18n %}


<form id="login" class="yform" method="post" action="{% url 'buyer:login' %}?next={{ request.path }}">

    {% csrf_token %}

    {% for field in login_form %}

        {% if field.errors %}
            <div class="form-group has-error">

                {% for error in field.errors %}

                    <label class="control-label errorlist"><em>{{ error }}</em></label>

                {% endfor %}

            </div>
        {% endif %}

        <div class="type-text">
            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>

    {% endfor %}

    <span class="cart-submit" style="width: 100%; padding: 5px 0 0;">
        <span class="btn-link-green btn-link" style="width: 100%;">
            <button class="btn-link-i" id="popup-checkout" type="submit" style="width: 100%;">АВТОРИЗОВАТЬСЯ</button>
        </span>
    </span>
</form>
<div class="aligned-center">
   <a class="check-edit-order-link" href="{% url 'buyer:password_reset' %}">{% trans 'Забыли пароль?' %}</a>
</div>

