{% load staticfiles %}


<form id="login" class="yform" method="post" action="{% url 'buyer:login' %}?next={{ request.path }}">

    {% csrf_token %}

    {% for field in login_form %}

        {% if field.errors %}
            <div class="form-group has-error">

                {% for error in field.errors %}

                    <label class="control-label errorlist"><em>{{ error }}</em></label>

                {% endfor %}

            </div>
        {% endif %}

        <div class="type-text">

            {{ field }}

            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}

        </div>

    {% endfor %}

        <div class="buttonsContainer">
            <span>

                <button class="formButtonSubmit formButtonBlue" type="submit" style="height: 35px; width: 100%">
                    <b>АВТОРИЗОВАТЬСЯ</b>
                </button>

                <div class="clear"></div>
             </span>
        </div>
</form>
