{% extends "base.html" %}{% load staticfiles %}


{% block title %}{{ title }}{% endblock %}


{% block script %}

    <script src="{% static 'js/jquery.modal.js' %}"></script>

    <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.modal.css' %}"/>

     {{ form.media }}

{% endblock %}


{% block register %}

    <div class="page_margins">
        <div class="page">
            <div class="pagePadding">
                <div id="col3" role="main">
                    <div id="col3_content" class="clearfix">
                        <div class="boxen">
                            <div class="my-shop box">

                                <div class="form-title">
                                    <h3>{{ title }}</h3>
                                </div>

                                <div class="forms">

                                    <form class="register yform" method="post" action="">

                                        {% csrf_token %}

                                        {% for field in form %}

                                            {% if field.errors %}
                                                <div class="form-group has-error">

                                                    {% for error in field.errors %}

                                                        <label class="control-label errorlist"><em>{{ error }}</em></label>

                                                    {% endfor %}

                                                </div>
                                            {% endif %}

                                            <div class="type-text">

                                                {{ field.label_tag }}

                                                {{ field }}

                                                {% if field.help_text %}
                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}

                                            </div>

                                        {% endfor %}

                                        <div class="clearfix cart-total">
                                             <span class="cart-return-link">
                                                 <span class="btn-link btn-link-gray">
                                                     <a href="{% url 'menu:homepage' %}" class="btn-link-i" name="close">ВЕРНУТЬСЯ НАЗАД</a>
                                                 </span>
                                             </span>

                                            {% if button_delete %}

                                                <span class="cart-return-link delete">
                                                     <span class="btn-link btn-link-gray">
                                                         <a href="{% url 'buyer:delete' request.user.id %}" class="delete-ajax btn-link-i" name="close">{{ button_delete }}</a>
                                                     </span>
                                                 </span>

                                            {% endif %}

                                            <span class="cart-submit">
                                                 <span class="btn-link-green btn-link">
                                                     <button class="btn-link-i" id="popup-checkout" type="submit">{{ button_create }}</button>
                                                 </span>
                                             </span>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AJAX response must be wrapped in the modal's root class. -->
    <div class="modal">
        <div class="modal-content">
            <p>Second AJAX Example!</p>
        </div>
    </div>

{% endblock %}


{#{% block register %}#}
{##}
{#    <div class="page_margins">#}
{#        <div class="page">#}
{#            <div class="pagePadding">#}
{#                <div id="col3" role="main">#}
{#                    <div id="col3_content" class="clearfix">#}
{#                        <div class="boxen">#}
{#                            <div class="my-shop box">#}
{##}
{#                                <div class="form-title">#}
{#                                    <h3>{{ title }}</h3>#}
{#                                </div>#}
{##}
{#                                <div class="forms">#}
{##}
{#                                    <form class="register yform" method="post" action="">#}
{##}
{#                                        {% csrf_token %}#}
{##}
{#                                        {% for field in form %}#}
{##}
{#                                            {% if field.errors %}#}
{#                                                <div class="form-group has-error">#}
{##}
{#                                                    {% for error in field.errors %}#}
{##}
{#                                                        <label class="control-label errorlist"><em>{{ error }}</em></label>#}
{##}
{#                                                    {% endfor %}#}
{##}
{#                                                </div>#}
{#                                            {% endif %}#}
{##}
{#                                            <div class="type-text">#}
{##}
{#                                                {{ field.label_tag }}#}
{##}
{#                                                {{ field }}#}
{##}
{#                                                {% if field.help_text %}#}
{#                                                    <p class="help">{{ field.help_text|safe }}</p>#}
{#                                                {% endif %}#}
{##}
{#                                            </div>#}
{##}
{#                                        {% endfor %}#}
{##}
{#                                        <div class="clearfix cart-total">#}
{#                                             <span class="cart-return-link">#}
{#                                                 <span class="btn-link btn-link-gray">#}
{#                                                     <a href="{% url 'menu:homepage' %}" class="btn-link-i" name="close">ВЕРНУТЬСЯ НАЗАД</a>#}
{#                                                 </span>#}
{#                                             </span>#}
{##}
{#                                            {% if button_delete %}#}
{##}
{#                                                <span class="cart-return-link delete">#}
{#                                                     <span class="btn-link btn-link-gray">#}
{#                                                         <a id="delete-ajax" href="{% url 'buyer:delete' request.user.id %}" class="btn-link-i" name="close">{{ button_delete }}</a>#}
{#                                                     </span>#}
{#                                                 </span>#}
{##}
{#                                            {% endif %}#}
{##}
{#                                            <span class="cart-submit">#}
{#                                                 <span class="btn-link-green btn-link">#}
{#                                                     <button class="btn-link-i" id="popup-checkout" type="submit">{{ button_create }}</button>#}
{#                                                 </span>#}
{#                                             </span>#}
{#                                        </div>#}
{#                                    </form>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#   #}
{#    <!-- AJAX response must be wrapped in the modal's root class. -->#}
{#    <div class="modal">#}
{#        <div class="modal-content">#}
{#            <p>Second AJAX Example!</p>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <script>#}
{#        $(function(){#}
{#            // Open modal in AJAX callback#}
{#            $('#delete-ajax').click(function(event) {#}
{#                event.preventDefault();#}
{#                console.log(event.preventDefault())#}
{#                $.get(this.href, function(html) {#}
{#                    console.log(html)#}
{#                    $('.modal').modal("show");#}
{#                    $('.modal-content').html(html.delete_form);#}
{#                });#}
{#            });#}
{#        })#}
{#    </script>#}
{##}
{#{% endblock %}#}
