@charset "ISO-8859-1";
/* CSS Document */

/**
 *
 * EIDAMO YAML Base Modifications for the standard Layout
 * 
 * (en) Screen layout for EIDAMO Webshop - Gray/White Style
 * (de) Bildschirmlayout f�r EIDAMO Webshop -
 *
 * @copyright       Copyright 2011, SEG Network GmbH
 * @author			CF
 *
 * @link            http://www.seg-network.de
 * @package         EIDAMO Webshop
 *
 */


@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  html { overflow-y:scroll; }

  /*------------------------------------------------------------------------------------------------------*/
  
  /**
   * (en) Formatting YAML's  basic layout elements
   * (de) Gestaltung des YAML Basis-Layouts
   */

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background:#000 url('../img/bg.body.jpg') no-repeat top center; background-attachment: fixed; background-size: cover; position: relative; margin: 0; border-top: 23px #000 solid; }

  /* (en) Centering layout in old IE-versions */
  /* (de) Zentrierung des Layouts in alten IE-versionen */
  body { text-align:center; }
  .page_margins {
      	text-align:left;
        margin:-25px auto 0 !important;
       /* background-color: white;*/
  }

  /* (en) Layout:width, background, borders */
  /* (de) Layout:Breite, Hintergrund, Rahmen */
  .page_margins { width:960px; margin: auto; }
  .pagePadding {  }
  

  /* (en) adjustment of main navigation */
  /* (de) Anpassung der Hauptnavigation */
  #nav ul { margin-left:20px; }

  

  #footer {
    color:#666;
    padding:10px 20px;
    border-top:5px #efefef solid;
    line-height:1.5em;
  }

  /* (en) Backup for correct positioning */
  /* (de) Absicherung korrekte Positionierung */
  #header, #nav, #main, #footer, .clear { clear:both; }
  
  /* (en) to be able to have popup divs we need to have the #main go to the back for IE */
  /* (de) um popup DIV einbauen zu k�nnen, m�ssen wir #main nach hinten verschieben */
  #header, #nav, #main, #footer, .clear { z-index: 1;}
  
  #main { background-color: #fff; min-height:530px; padding-bottom:75px;}
	


 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Skiplinks 
  *
  * (en) Visual styling for skiplink navigation
  * (de) Visuelle Gestaltung der Skiplink-Navigation
  *
  * @section content-skiplinks
  */
  
  #skiplinks a.skip:focus,
  #skiplinks a.skip:active { 
	color:#fff; 
	background:#333; 
	border-bottom:1px #000 solid;
	padding:10px 0;
	text-decoration:none;
  }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3     | #col2   |
   * | 25%     | flexible  | 25%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */


  #col1 { width:25%;  }
  #col1_content { padding:15px 0 15px 15px; }

  #col2 { width:25%; }
  #col2_content { padding:15px 15px 0 15px; }

  #col3 { margin:0 25%; }
  #col3_content { padding:15px 0 35px; }
  
  /*------------------------------------------------------------------------------------------------------*/

 /**
 	* (en) additional columns for footer
  * (de) weitere spalten f�r die fu�zeile
  *
  * @section subtemplates
  * @see     http://www.yaml.de/en/documentation/practice/subtemplates.html
  */

  .c16l { float:left; }
  .c16r { float:right; margin-left:-5px; }


  .c16l, .c16r { width:16.666%; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Header 
  *
  * (en) Styling of layout specific elements
  * (de) Gestaltung layoutabh�ngiger Elemente
  */
  

  #header {
    color:#000;
    padding: 0;
	position:relative;
  }
  
  .headerInner {
    display: block;
    background: transparent url('../img/bg.header.png') top center no-repeat !important;
    height: 130px;
    
  }

  #header h1 {
    letter-spacing:0;
    line-height: 130px;
	text-align:center;
    
  }
  
  #header h1 a,
  #header h1 a:hover,
  #header h1 a:active,
  #header h1 a:visited,
  #header h1 a:focus {
    text-decoration: none;
    color:#287da2;
    float: left;
    padding: 0;
    margin: 0;
  }
     
  #header h1 img {
    padding: 0;
    margin: 0;
	position:absolute;
	top:0;
	left:330px;
	z-index:0;
  }

  #header span { 
  	color:#999;
    font-size: .9em;
  }
  
  #header span.tagLine { 
  	margin-left: 10px;
    padding-top: 35px;
    width: 320px;
    float: left;
    font-style: italic;
  }
  
  #header span.tagLine span.sage {
    color: #007F64;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
    letter-spacing: -.2em;    
	}
  
  #header div.partnerLogos {
    clear: right;
    float: right;
    margin: 10px 5px 0 0;
    padding: 0;
    max-width: 360px; width:expression(document.body.clientWidth > 360? "360px": "auto" ); /* sets max-width for IE6+ */
    overflow: hidden;
    height: 50px;
    text-align: right;
	display:none;
  }
  
  #header .edge {display:none;}
  
  #header div.partnerLogos img {
    margin-right: 10px;
    clear: left;
    float: right;
  }
  #header div.partnerLogos object,
  #header div.partnerLogos object embed {
    clear: none !important;
    float: none !important;
    position: relative !important;
    display: inline !important;
    margin-right: 10px;
    height: 50px !important;
	}


/* By Dylan Wagstaff, http://www.alohatechsupport.net */

    /* rotator in-page placement */
    #header div.partnerLogos div.rotator {
        position: relative;
        height: 50px; width: 150px;
    	margin-right: 25px;
        display: none;
    }
    #header div.partnerLogos div.rotator ul {
        list-style: none;
        margin: 0; padding: 0;
        position: absolute;
        top: 0; left: 0;
    }
    /* rotator css */
    #header div.partnerLogos div.rotator ul li {
        float: right;
        position: absolute;
        top: 0; left: 0;
        list-style: none;
    }
    /* rotator image style */	
    #header div.partnerLogos div.rotator ul li img {
        height: 50px; width: 150px; display: inline;
    }
    #header div.partnerLogos div.rotator ul li.show {
        z-index:500
    }
      

  /* (en) #topnav gets absolute positioning within #header */
  /* (de) #topnav wird innerhalb von #header absolut positioniert */
  #topnav { 
  	color:#fff;
    height: 20px;
    line-height: 20px;
    margin: 0;
	text-align:right; /* LTR */
    float: right;
	position:relative;
	z-index:100;
  }
  
  #topnav span {
    height: 20px;
    line-height: 20px;	
    float: left;
    padding: 0;
    font-size: 1em;
    white-space: nowrap;
  }
  
  #topnav a { border-right: 1px solid #fff; margin-right: 5px; padding-right: 5px; }
  #topnav a.last { border-style: none; margin-right: 0; padding-right: 0 }

  #topnav a { color:#fff; font-weight:normal; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color:transparent; }
  
  #topnav a.languageFlags b { color:#fff; font-weight:normal; margin-right: 3px;  }
  #topnav a.languageFlags img { margin: 4px 0 -2px 3px; }

  #topnav a:focus.languageFlags,
  #topnav a:hover.languageFlags,
  #topnav a:active.languageFlags { text-decoration: none; }

  #topnav a:focus.languageFlags b,
  #topnav a:hover.languageFlags b,
  #topnav a:active.languageFlags b { text-decoration: underline; cursor: pointer; }
  
  #topnav .nav_flags { float: none; display: inline; }
  #topnav .nav_flags a img { margin: 4px 2px -2px -3px;}
  
  /* (en) Dropdown menu to pick the language version */
  /* (de) Dropdown Men� f�r die Sprachenauswahl */
  
  
  * html #topnav .languagePicker { 
   		height: expression( this.scrollHeight > 100 ? "100px" : "auto" ); /* sets max-height for IE */
  }
  #topnav .languagePicker {
      position: absolute;
      top: 20px;
      right: 5px;
      z-index: 999999;
      border: 1px solid #d5d5d5;
      -moz-border-radius-bottomleft: 5px; /* FF1+ */
      -moz-border-radius-bottomright: 5px; /* FF1+ */
  		-webkit-border-bottom-left-radius: 5px; /* Safari 3-4 */
  		-webkit-border-bottom-right-radius: 5px; /* Safari 3-4 */
      border-bottom-left-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome */
      border-bottom-right-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome */
      display: block;
      -moz-box-shadow: 0px 2px 4px rgba(0,0,0,.4); /* FF3.5+ */
  		-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.4); /* Saf3.0+, Chrome */
      box-shadow: 0px 2px 4px rgba(0,0,0,.4); /* Opera 10.5, IE 9 */
      background: white;
      background-image: -moz-linear-gradient(top, #fff, #f5f5f5); /* FF3.6 */
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #f5f5f5)); /* Safari 4+, Chrome */
      overflow-y: auto;
      width: 160px;
      max-height: 100px;
  }
  
  #topnav .languagePicker span {
			height: auto;
      background-image: none;
  }

  #topnav .languagePicker span ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      clear: left;
      width: 110px;      
  }

  #topnav .languagePicker span li {
      clear: both;
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 21px;
      height: 21px;
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
  }

  #topnav .languagePicker span li a {
      clear: both;
      margin: 0;
      padding: 0 5px;
      display: block;
      line-height: 21px;
      height: 21px;
      cursor: pointer;
  }
  
  #topnav .languagePicker span li a img {
      float: left;
      margin: 4px 3px -3px 0;
      cursor: pointer;
  }
  
  #topnav .languagePicker span li a b {
      float: left;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      width: 75px;
      text-overflow: ellipsis;
  }
  
  #topnav .languagePicker span li a:hover b,
  #topnav .languagePicker span li a:active b,
  #topnav .languagePicker span li a:focus b {
      text-decoration: underline;
  }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Navigation 
  *
  * (en) Expanded Sliding Door concept with rollover over css only by Christian Fillies under CC License
  * (de) Weitergef�hrtes Sliding Door concept mit Rollover �ber nur CSS von Christian Fillies unter der CC License.
  */
  
  #nav {
      border-top: 1px solid #000;
      background: #a7947e url('../img/pattern_s.png') top left repeat;
      margin: 0 0 10px;
      padding: 0;
      height: 50px;
  }
  
  #nav .hlist {
      float: left;
      margin: 0;
      padding: 0;
      padding: 0;
      height: 50px;
  }
  
  #nav .hlist ul {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 50px !important;
  }
  #nav .hlist ul li {
      line-height: 50px;
      height: 50px;
      float: left;
      margin: 0;
      padding: 0;
      border-left: 1px solid #b9a998;
  }
  #nav .hlist ul li:first-child,
  #nav .hlist ul li.first, #nav .hlist ul #id_nav_top_katalog {
      border-style: none;
	  background:#787360 url(../img/pattern_s.png) top left repeat;
  }
  
  #nav .hlist ul li a,
  #nav .hlist ul li a:link,
  #nav .hlist ul li a:visited {
      line-height: 50px;
      height: 50px;
      float: left;
      margin: 0;
      padding: 0px;
	  transition: all 0.5s ease-out 0s;
  }
  #nav .hlist ul li a,
  #nav .hlist ul li a span,
  #nav .hlist ul li a:link,
  #nav .hlist ul li a:visited,
  #nav .hlist ul li a:link span,
  #nav .hlist ul li a:visited span {
      cursor: pointer;
      font-size: 1em;
      text-decoration: none;
      color: #333333;      
  }

  #nav .hlist ul li.selected a,
  #nav .hlist ul li.selected a span {color:#fff;}  
  
  #nav .hlist ul li:first-child a, #nav .hlist ul li:first-child.selected a, #nav .hlist ul li:first-child.selected a span,
  #nav .hlist ul li.first a, #nav .hlist ul li.first.selected a, #nav .hlist ul li.first.selected a span { color: #333333; }
  
  #nav .hlist ul #id_nav_top_katalog {padding:0 0 0 5px;}
  #nav .hlist ul #id_nav_top_katalog a, #nav .hlist ul #id_nav_top_katalog a:hover, #nav .hlist ul #id_nav_top_katalog a:focus {background: url(../img/katalog.png) center left no-repeat !important;}
  #nav .hlist ul #id_nav_top_katalog a span {padding-left:20px;}
  #nav .hlist ul #id_nav_top_katalog a,
  #nav .hlist ul #id_nav_top_katalog a span,
  #nav .hlist ul #id_nav_top_katalog a:link,
  #nav .hlist ul #id_nav_top_katalog a:hover,#nav .hlist ul #id_nav_top_katalog a:focus,
  #nav .hlist ul #id_nav_top_katalog a:visited,
  #nav .hlist ul #id_nav_top_katalog a:link span,
  #nav .hlist ul #id_nav_top_katalog a:visited span {color:#FFF; transition: none;}
  
  
  #nav .hlist ul li a span,
  #nav .hlist ul li a:link span,
  #nav .hlist ul li a:visited span {
      font-size: 15px;
      line-height: 50px;
      height: 50px;
      float: left;
      padding: 0 15px;
	  text-transform: uppercase;
	  font-family:'Roboto Condensed', Arial, Helvetica, sans-serif;
	  font-weight:700;

  }
  #nav .hlist ul li a:hover {
      background:#787360 url(../img/pattern_s.png) top left repeat;
	  
  }
  #nav .hlist ul li a:hover span {
      background-position: center right;
  }
  #nav .hlist ul li a:active,
  #nav .hlist ul li a:focus,
  #nav .hlist ul li.selected a:link,
  #nav .hlist ul li.selected a:visited,
  #nav .hlist ul li.selected a:hover,
  #nav .hlist ul li.selected a:active,
  #nav .hlist ul li.selected a:focus {
      background-position: bottom left !important;  /* important is a firefux 4 bug fix */
  }
  #nav .hlist ul li a:active span,
  #nav .hlist ul li a:focus span,
  #nav .hlist ul li.selected a:link span,
  #nav .hlist ul li.selected a:visited span,
  #nav .hlist ul li.selected a:hover span,
  #nav .hlist ul li.selected a:active span,
  #nav .hlist ul li.selected a:focus span {
      background-position: bottom right;
  }
  
  .service h3 {border-bottom:1px solid #787360; margin-bottom:15px;}
  .service h4 {font-weight:500;}

