.widget div ul li.indentLevel_1 {
    display: none;
}

.product-list-status a.os_pages.active {
    background-color: #787360;
    color: white;
}

/*button for register form*/

.cart-total {
    margin-top: 1.5em;
    padding: 0 0.5em;
}

.cart-return-link {
    float: left;
    display: inline-block;
}

.cart-return-link.delete {
    float: none;
    margin-left: 0.85em;
}

.cart-return-link.delete .btn-link-gray {
    background: #bca67b;
    background: -webkit-linear-gradient(top, #fff2da, #bca67b);
    background: -ms-linear-gradient(top, #fff2da, #bca67b);
    background: -moz-linear-gradient(top, #fff2da, #bca67b);
    border: 1px solid #c0b07c;
    border-bottom: 0;
    box-shadow: 3px 3px 7px 0 rgba(188, 166, 123, 0.91), inset 0 -3px 0 0 #453a2a;
}

.cart-return-link.delete .btn-link-gray:hover {
    background: #e9d09b;
    background: -webkit-linear-gradient(top, #feffe7, #f3dca7);
    background: -ms-linear-gradient(top, #feffe7, #f3dca7);
    background: -moz-linear-gradient(top, #feffe7, #f3dca7);
}

.cart-return-link.delete .btn-link-gray .btn-link-i {
    color: #5D120E;
}

.cart-return-link .btn-link {
    border-radius: 3px;
}

.btn-link-gray {
    background: #f1f1f1;
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -ms-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    border: 1px solid #ececec;
    border-bottom: 0;
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1;
}

.btn-link-gray:hover {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
}

.btn-link-gray:hover .btn-link-i:link, .btn-link-gray:hover .btn-link-i:visited {
    color: #941912;
    text-decoration: none;
}

.btn-link:active {
    margin-top: 2px;
    margin-bottom: 0;
}

.btn-link a:focus {
    text-decoration: none;
}

.btn-link-i:hover, .btn-link-i:active {
    text-decoration: none;
}

.btn-link-gray:active {
    background: #e6e6e6;
    background: -webkit-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -ms-linear-gradient(top, #fbfbfb, #e6e6e6);
    background: -moz-linear-gradient(top, #fbfbfb, #e6e6e6);
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -1px 0 0 #c1c1c1;
}

.btn-link-gray:active .btn-link-i:link, .btn-link-gray:active .btn-link-i:visited {
    color: #888888;
}

.btn-link {
    background-clip: padding-box;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    outline: 0em;
    border-radius: 3px;
    margin-bottom: 2px;
}

.btn-link-gray .btn-link-i:link, .btn-link-gray .btn-link-i:visited {
    color: #8a8a8a;
}

.cart-return-link .btn-link-i {
    font-size: 1.1em;
    padding: 0.59091em 1.13636em;
}

.btn-link-i {
    background: none;
    border: 0;
    color: #333;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /*z-index: 1;*/
    outline: none;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}


.cart-submit {
    display: inline-block;
    font-size: 1.1em;
    float: right;
}

.cart-submit .btn-link-i {
    padding: 0.665em 2.44444em;
}

.btn-link-green .btn-link-i {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button, input, select, textarea {
    color: #333;
    display: inline-block;
    /*font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.cart-submit .btn-link {
    border-radius: 3px;
}

.btn-link-green {
    text-decoration: none;
    background: #941912;
    background: -webkit-linear-gradient(top, #f96057, #941912);
    background: -ms-linear-gradient(top, #f96057, #941912);
    background: -moz-linear-gradient(top, #f96057, #941912);
    box-shadow: 3px 3px 7px 0 #c22727, inset 0 -3px 0 0 #5d120e;
}

.btn-link-green:hover {
    background: #cc261c;
    background: -webkit-linear-gradient(top, #f58d87, #cc261c);
    background: -ms-linear-gradient(top, #f58d87, #cc261c);
    background: -moz-linear-gradient(top, #f58d87, #cc261c);
}

.btn-link-green button:hover, .btn-link-green a.btn-link-i:hover {
    color: #333;
}

.btn-link-green:active {
    background: #941912;
    background: -webkit-linear-gradient(top, #d35249, #78100b);
    background: -ms-linear-gradient(top, #d35249, #78100b);
    background: -moz-linear-gradient(top, #d35249, #78100b);
    box-shadow: 3px 3px 7px 0 #c22727, inset 0 -3px 0 0 #5d120e;
}

.btn-link-green button:active, .btn-link-green a.btn-link-i:active {
    color: #c1c1c1;
}

.form-title h3 {
    margin: 0 -5px 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.my-shop {
    background: url(/static/img/bg.home.box.png) top center;
    margin: 10px 10px;
    padding: 15px 25px;
}

span.headerInner div#fix-head {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.67);
    height: 22px; width: 100%;
    top:0;
    left: 0;
    right: 0;
    z-index: 10000;
}

div#fix-head div#topnav {
    width: 960px;
    margin: auto;
    float: none
}

#messages {
    margin-left: 2em;
}

.messages p {
    line-height: 20px;
    font-weight: bold;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static/img/page-loader.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.67);;
}

.aligned-center {
    text-align: center
}

.aligned-center .check-edit-order-link {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: white;
    font-style: italic;
    text-shadow: 0 0 1px #acacac, -1px -1px 0 hsl(0,0%,33%), -2px -2px 1px hsl(0,0%,0%), -2px -2px 2px hsl(0,100%,26%);
}

.aligned-center .check-edit-order-link:hover {
    color: #800;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 0 1px #ffffff, -1px -1px 0 hsl(0,0%,84%), -2px -2px 1px hsl(0,0%,62%), -2px -2px 2px hsl(0,100%,26%);
}

