@charset "ISO-8859-1";
/* CSS Document */

/* items to hide */
.pp_loaderIcon,
.pp_top,
.pp_bottom {
    display: none !important;
}

/* items to reset */
.pp_loaderIcon,
.pp_fade {
    background: transparent none !important;
}

div.pp_pic_holder a:focus { outline:none; }

div.pp_overlay {
    background: #fff;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 1 !important;
    z-index: 9500;
    margin: 0;
    padding: 0;
    overflow: visible !important;
}

div.pp_pic_holder,
.pp_hoverContainer,
.pp_hoverContainer iframe {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 10000;
    overflow: visible !important;
}


.pp_hoverContainer,
.pp_hoverContainer iframe {
    position: relative;
}


.pp_hoverContainer iframe { height: 100% !important; }