@charset "ISO-8859-1";@media print{body{font-size:10pt;}
#topnav, #nav, #search, nav{display:none;}
h1,h2,h3,h4,h5,h6{page-break-after:avoid;}
#col1{display:none;}
#col2{display:none;}
#col3, #col3_content{width:100%;margin:0;padding:0;border:0;}
}