{% load staticfiles %}


{% if not search %}

    <!-- begin: breadcrumbs: nav_breadcrumb_?.html -->
    <ul class="breadcrumbs">

        <li class="firstCrumb">
            <a href="{% url 'menu:shop' %}">Магазин</a>:
        </li>

        {% if item.category %}

            <li class="elseCrumb">
                <a href="{{ item.category.get_absolute_url }}">{{ item.category.title }}</a>
            </li>

        {% endif %}

        {% if item.parent %}

            <li class="elseCrumb">
                » <a href="{{ item.parent.get_absolute_url }}">{{ item.parent.title }}</a>
            </li>

        {% endif %}

        <li class="elseCrumb">
            » <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
        </li>

        {% if product %}

            <li class="elseCrumb">
                » <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </li>

        {% endif %}

    </ul>


{% else %}

    <!-- Category: Title Only -->

    <div class="category-current">
        <div class="rubImg-container noRubImg"></div>

        <h2>
            {{ item.title|upper }}
            <br/>
            <br/>
            {{ item.returned_title }}
        </h2>

    </div>

{% endif %}