{% load staticfiles %}

<div id="col3_content" class="clearfix">

    <h1 class="uppercase">{{ category_title|upper }}</h1>

    <table border="0" align="left" class="full content">
        <tbody>

        {% for index in menu_list %}

            <tr>

                {% for cat in index %}

                    <td>
                        <a href="{{ cat.get_absolute_url }}">
                            <img src="
                            {% if cat.image %}
                            {{ cat.image.url }}
                            {% else %}
                            {{ cat.get_all_products.0.image.url }}
                            {% endif %}
                            ">
                            <h2 class="uppercase">
                                {{ cat.title }}
                            </h2>
                        </a>
                    </td>

                {% endfor %}

                {% empty %}

                <h4>Список пуст!</h4>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <!-- end: Text Page specific content -->
</div>
