{% extends "base.html" %}{% load staticfiles %}{% load cache %}

{% block title %}MILTEC | МАГАЗИН{% endblock %}


{% block script %}

    <link type="text/css" href="{% static 'css/product.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/cart_select.css' %}" rel="stylesheet">
    <script src="{% static 'js/cart.js' %}" type="text/javascript"></script>

{% endblock %}


{% block content %}

    <div id="main" class="content">
        <span class="main">

<div id="col1" role="complementary">
    <div id="col1_content" class="clearfix">

        <!-- begin: widget box -->
        <div class="widget accordion">

            <h2>Товары</h2>

            {% for category in categories %}

                {% cache 3600 category.title category.id %}
                    <h5 id="mainCatID_{{ category.id }}" class="category">
                        <a href="{{ category.get_absolute_url }}" title="{{ category.title }}">
                            <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-toggle">
                            {{ category.title }}
                        </a>
                    </h5>
                {% endcache %}

                <div>
                    <ul>
                        {% for item in category.items.all %}
                            <li id="subCatID_{{ item.id }}" class="indentLevel_0">
                                <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a>
                            </li>

                            {% if item.children %}
                                {% for item in item.children %}
                                    <li id="subCatID_{{ item.id }}" class="indentLevel_1">
                                        <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            {% endfor %}

            <div class="widgetBottom"></div>
        </div>
        <!-- end: widget box -->

        <div class="widget" role="actions">
            <h2>Promotions</h2>
            <div>
                <ul>

                    {% for promotion in promotions %}
                        <li id="actionURL-NewItems" class="withDivider">
                            <a href="#" onclick="$.cookie('actionURL', 'newItems');" title="{{ promotion.title }}" rel="nofollow">
                                {{ promotion.title }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="widgetBottom"></div>
        </div>
    </div>
</div>

    <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix">

            <!-- begin: widget box -->
            <div class="widget" role="Account Management">
                <h4 class="selected">

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'buyer:logout' %}?next={{ request.path }}" title="{{ request.user.get_full_name }}" alt="{{ request.user.get_full_name }}">
                            {{ request.user.get_full_name }}
                        </a>
                    {% else %}
                        <a title="Мой аккаунт" alt="Мой аккаунт">Мой аккаунт</a>
                    {% endif %}

                </h4>

                {% if not request.user.is_authenticated %}
                    <!-- EIDAMO_CUSTOMERLOGIN_START -->
                    <div class="forms">

                        {% include 'login.html' %}

                    </div>
                    <div class="widgetBottom"></div>
                {% endif %}
            </div>

            <!--Kurs.com.ua main-ukraine 210x130 blue-->
            <div id='kurs-com-ua-informer-main-ukraine-210x130-blue-container'>
                <a href="//old.kurs.com.ua/informer" id="kurs-com-ua-informer-main-ukraine-210x130-blue" title="Курс валют информер Украина" rel="nofollow" target="_blank">
                    Информер курса валют
                </a>
            </div>
            <script type='text/javascript'>
                (function() {var iframe = '<ifr'+'ame src="//old.kurs.com.ua/informer/inf2?color=blue" width="210" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';console.log(iframe);var container = document.getElementById('kurs-com-ua-informer-main-ukraine-210x130-blue');container.parentNode.innerHTML = iframe;})();
            </script>
            <noscript>
                <img src='//old.kurs.com.ua/static/images/informer/kurs.png' width='52' height='26' alt='kurs.com.ua: курс валют в Украине!' title='Курс валют' border='0' />
            </noscript>
            <!--//Kurs.com.ua main-ukraine 210x130 blue-->

        </div>
    </div>

    <!-- begin: #col3 static center column -->
    <div id="col3" role="main">

        {% include 'partial_shop_main.html' %}

        <div id="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
    </div>

    </span>
    </div>

{% endblock %}