{% load staticfiles %}


{#<link rel="stylesheet" href="{% static 'css/content_eidamo.css.css' %}" type="text/css">#}

{#<script type="text/javascript" src="{% static 'js/jquery.library.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/jquery.eidamo.pack.js' %}"></script>#}

{#<script type="text/javascript" src="{% static 'js/yaml-focusfix.js' %}"></script>#}


{#<script type="text/javascript" src="{% static 'js/jquery.eidamo.min.js' %}"></script>#}

{#<script type="text/javascript" src="{% static 'js/addthis.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/01.js' %}"></script>#}

<script type="text/javascript">

    $(function () {

        $("#col3 div.jquery_tabs")[0] && ($("#col3 div.jquery_tabs").accessibleTabs({
            tabhead: "h4",
            tabbody: ".tabs-content",
            currentInfoText: "",
            fx: "fadeIn",
            autoAnchor: !0,
            saveState: !0
        }),
                $(".jquery_tabs ul.tabs-list li").first().addClass("firstTab"),
                $(".jquery_tabs ul.tabs-list li").last().addClass("lastTab"));
    })

</script>


<div id="col3_content" class="clearfix">

    <div class="breadcrumbBar clearfix">

        {% include 'breadcrum.html' %}


        {% include 'tools_pagination.html' %}

    </div>

    <!-- begin: product-row_detail_?.html -->
    <form name="detail_view" method="post" action="">
        <div class="product-details">
            <dl>
                <dt title="{{ product.title|upper }}">
                    <a itemprop="url" class="url" href="" style="display: none">{{ product.title|upper }}</a>
                <div itemprop="brand" style="display: none" class="brand"></div>
                <h1>

                    <span itemprop="name">{{ product.title|upper }}</span>

                </h1>

                </dt>


                <!-- begin include: pic_detail_?.html -->
                <dd class="image" note="has_large">
                    <div class="imageContainer" style="position: relative;">
                        <a href="{% if product.image_large %}{{ product.image_large.url }}{% endif %}" data-spzoom style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 200px; width: 160px;" title="{{ product.title|upper }}">
                            <img itemprop="image" class="thumb photo" src="{{ product.image.url }}" alt="{{ product.title|upper }}" style="opacity: 1;">
                        </a>
                    </div>

                    <a href="{% if product.image_large %}{{ product.image_large.url }}{% endif %}" class="tagEnlarge" title="{{ product.title|upper }}" rel="prettyPhoto[gal]">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-magnifier">
                        <u>Enlarge Photo</u>
                    </a>

                </dd>

                <script type="text/javascript">//
                // Scaling for product-details image

                $('#col3_content > form > div > dl > dd.image > div > a[data-spzoom]').spzoom({
                    width: 450,
                    height: 500
                });

                $("#col3_content > form > div > dl > dd.image > a[rel^='prettyPhoto']").prettyPhoto({
                    theme: 'pp_default',	/* pp_default / light_rounded / dark_rounded / light_square / dark_square / facebook */
                    hideflash: false, /* Hides all the flash object on a page, set to TRUE if flash appears over prettyPhoto */
                    social_tools: false, /* html or false to disable */
                    deeplinking: false, /* Allow prettyPhoto to update the url to enable deeplinking. */
                    ie6_fallback: true,
                    overlay_gallery: false /* If set to true, a gallery will overlay the fullscreen image on mouse over */,
                    iframe_markup:'<div class="iOSscroll" style="width:{width}px;height:{height}px;"><iframe src ="{path}" width="{width}" height="{height}" frameborder="no"></iframe></div>' /* Bugfix for iOS Touch devices to be able to scroll */
                });


                $('div.imageContainer img.thumb').load( function() {
                    $('div.imageContainer img.thumb').each(function() {
                        var containerHeight = $('div.imageContainer').height(); // Current height of container
                        var containerWidth = $('div.imageContainer').width(); // Current width of container
                        var imageWidth = $(this).width();  // Current image height
                        var imageHeight = $(this).height();  // Current image height

                        if(containerHeight>imageHeight)
                        {
                            var newTop = imageHeight + 10;
                            $('head').append('<style type=\"text/css\">' +
                                    'div.imageContainer img.thumb { width: '+containerWidth+'px !important; }' +
                                    'div.product-details dd.image a.tagEnlarge { top: '+newTop+'px  !important;}' +
                                    '</style>'
                            );
                        }
                        else if(imageHeight>containerHeight)
                        {
                            var newTop = imageHeight + 10;
                            var newHeight = imageHeight + 35;
                            $('head').append('<style type=\"text/css\">' +
                                    'div.imageContainer img.thumb,' +
                                    'div.imageContainer .jqZoomPup img,' +
                                    '.product-details .image div.imageContainer { text-align: left; }' +
                                    '.product-details .image div.imageContainer { height: '+imageHeight+'px !important;}' +
                                    '.product-details .image div.imageContainer a.jqzoom { height: '+imageHeight+'px !important; width: '+containerWidth+'px !important;}' +
                                    '.product-details .image div.imageContainer a.jqzoom div.jqZoomPup img { height: '+imageHeight+'px !important; width: '+imageWidth+'px !important;}' +
                                    'div.product-details dd.image a.tagEnlarge { top: '+newTop+'px  !important;}' +
                                    'div.product-details dd.image { height: '+newHeight+'px  !important;}' +
                                    '</style>'
                            );
                        }
                    });
                });


                </script>


                <dd class="articleNr">
                    <label>Article No.:</label>
                    <div itemprop="productID">
                        {{ product.article }}
                    </div>
                </dd>



                <!-- EIDAMO_LIST_INQUIRY_START:1 -->


                <dd class="price" id="price_1" style="">


                <span class="current_price" itemprop="offers" itemscope="" itemtype="">
            <span class="price" itemprop="price">

                {{ product.price }}

            </span>
            <span class="currency">EUR</span>
            <span class="unit">/ ST</span>

			</span>

                    <span class="tax_percent">packing unit 1 ST</span>
                </dd>


            </dl>
            </a>

            <div class="buttonsContainer">

                <div id="buttons_1" style="">


                    <!-- Amount to Add - by default off -->
                    <div class="amount-to-add" style="">
                        <input class="count" type="text" name="menge_1" value="1">
                        <input type="hidden" name="rub1_1" value="Clothing">
                        <font style="float: none;"><b>/</b> ST</font>
                        <a style="float: right; text-align: center;" href="#">
                                            <span>
                                                <img src="{% static 'img/gfx.spacer.gif' %}" alt="select trim" title="select trim" class="icon icon-lg-shopping-basket--arrow">
                                        <b>select trim</b>
                                    </span>
                        </a>

                    </div>

                    <!-- begin: Amout Image gets replaced by jquery function -->
                    <script type="text/javascript">
                        $(document).ready( function() {
                            $('.buttonsContainer img[border~="0"]').replaceListAmountImg('/static/img/gfx.spacer.gif', 'select trim');
                        });
                    </script>

                    <!-- end: Amout Image gets replaced by jquery function -->

                </div>


            </div>

            <dd class="fb-like" data-send="false" data-width="480" data-show-faces="false" data-font="lucida grande" data-action="recommend"></dd>


            </dl>

        </div>
    </form>
    <!-- end: product-row_detail_?.html -->



    <!-- Bezeichnung 2 einblenden -->

    <!-- begin: jquery tabs -->
    <div class="jquery_tabs">

        <!-- begin: product-description_?.html -->
        <h4 id="accessibletabscontent0-0" class="tabhead" tabindex="-1">Description</h4>

        <div class="tabs-content description" itemprop="description" style="">

            <!-- Artikelbeschreibung -->
            <p>
                {{ product.description|linebreaks }}
            </p>

            <p id="zusatx_text"></p>

        </div>
        <!-- end: product-description_?.html -->

        <!-- begin: product-specifications_?.html -->
        <h4 id="accessibletabscontent0-1" class="tabhead" tabindex="-1">Details</h4>
        <div class="tabs-content" style="display: none;">

            <dl class="specifications">
                <dt>Details</dt>

                <dd class="alt">
                    <label>EAN-Code</label>
                    <span>4046872353727</span>
                    <div class="clear"></div></dd>

                <dd>
                    <label>goods code</label>
                    <span>39262000</span>
                    <div class="clear"></div></dd>
            </dl>
        </div>
    </div>
    <!-- end: jquery tabs -->



    <!-- begin: products also purchased by other customers: product-cfilter_?.html -->
    <!-- begin include: Kunden, die dieses Produkt gekauft haben, haben auch folgende Produkte gekauft: -->
    &nbsp;
    <!-- end: products also purchased by other customers: product-cfilter_?.html -->



    <div class="bottomToolBar clearfix">

        <div class="buttonsContainer" style="float:left;">
            <a href="#" onclick="history.go(-1)" class="formButton">
                <span><b>back</b></span>
            </a>
        </div>

        <!-- begin: nav_detail_bottom_?.html -->
        {#        <div class="tools float_right" style="padding-top:5px;">#}
        {##}
        {#            {% if  product.item.products.all|length > 1 %}#}
        {##}
        {#                {% if  product.item.products.all|length > 1 %}#}
        {##}
        {#                    <a href="{{ product.get_previous_by_create.get_absolute_url }}" title="Return" class="prevPage">#}
        {#                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-arrow-180">#}
        {#                    </a>#}
        {##}
        {#                {% endif %}#}
        {##}
        {#                {% if product.get_next_by_create %}#}
        {##}
        {#                    <a href="{{ product.get_next_by_create.get_absolute_url }}" title="Continue" class="nextPage">#}
        {#                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-arrow">#}
        {#                    </a>#}
        {##}
        {#                {% endif %}#}
        {#            {% endif %}#}
        {##}
        {##}
        {#        </div>#}


        {% if products.has_other_pages %}

            <div class="tools pagination float_right" style="padding-top:5px;">

                {% if products.has_previous %}

                    <a href="{% url 'product:product' previous_slug %}?page={{ products.previous_page_number }}"
                       title="Return" class="prevPage">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-arrow-180">
                    </a>

                {% endif %}

                {% if products.has_next %}

                    <a href="{% url 'product:product' next_slug %}?page={{ products.next_page_number }}"
                       title="Continue" class="nextPage">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-arrow">
                    </a>

                {% endif %}

            </div>

        {% endif %}

        <!-- end: nav_detail_bottom_?.html -->
    </div>

</div>
<!-- end: article detail specific content -->



<div id="ie_clearing">&nbsp;</div>
<!-- End: IE Column Clearing -->

<script type="text/javascript">

</script>
