{% load staticfiles %}{% load product_tags %}


{% if request.user.is_authenticated %}

    <span class="price" itemprop="price" style="color: green">

                    {{ product.price_for_users }}

                    </span>
    <span class="currency" style="color: green">EUR</span>

     <div>
                    <span class="new-price">

                    <em><b>{{ product.price_for_users|price_exchange:exchange }} UAH </b></em>

                    </span>
     </div>

{% else %}

    <span class="price" itemprop="price">
        {{ product.price}}
    </span>

    <span class="currency">EUR</span>

    <div>
        <span class="new-price">
            <em><b>{{ product.price|price_exchange:exchange }} UAH </b></em>
        </span>
    </div>

    <div>
        <span style="color: #c22727">
            <b>(оптовая цена после регистрации)</b>
        </span>
    </div>

{% endif %}

<br/>