{% load staticfiles %}


<div id="col3_content" class="clearfix">

    <!-- Start des Formulars (anscheinend nur in shop_list nötig)-->
 <div>
        <div class="breadcrumbBar clearfix">
            {% include 'breadcrum.html' %}

            {% include 'tools_pagination.html' %}
        </div>

        {% if not search %}
            <div class="categories">
                <!-- Category: Title Only -->
                <div class="category-current">
                    <div class="rubImg-container noRubImg"></div>
                    <h2>{{ item.title }}</h2>
                </div>
            </div>
        {% endif %}

        <div class="toolBar clearfix">
            <div class="tools sortOptions-viewStandard">
                <span><b>Сортировать:</b></span>

                {% if request.session.ordering != '-title' %}
                    <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&ordering=-title{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&ordering=-title{% endif %}"
                       class="sortTitleDesc {% if request.session.ordering == 'title' %}active{% endif %}">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-sort-alphabet">
                        <u>Название</u>
                    </a>
                {% elif request.session.ordering != 'title' %}
                    <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&ordering=title{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&ordering=title{% endif %}"
                       class="sortTitleAsc {% if request.session.ordering == '-title' %}active{% endif %}">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-sort-alphabet-descending">
                        <u>Название</u>
                    </a>
                {% endif %}

                {% if request.session.ordering != '-price' %}
                    <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&ordering=-price{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&ordering=-price{% endif %}"
                       class="sortPriceAsc {% if request.session.ordering == 'price' %}active{% endif %}">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-sort-number">
                        <u>Цена</u>
                    </a>
                {% elif request.session.ordering != 'price' %}
                    <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&ordering=price{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&ordering=price{% endif %}"
                       class="sortPriceDesc {% if request.session.ordering == '-price' %}active{% endif %}">
                        <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-sort-number-descending">
                        <u>Цена</u>
                    </a>
                {% endif %}

            </div>

            <div class="tools float_right">
                <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&view=standard{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&view=standard{% endif %}"
                   title="List View" class="display-viewStandard {% if request.session.view != 'grid' %}display-viewStandard-active{% endif %}">
                    <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-edit-list">
                </a>
                <a href="{% if search %}{% url 'product:search' %}?page={{ products.number }}&view=grid{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ products.number }}&view=grid{% endif %}"
                   title="Grid View" class="display-viewGrid {% if request.session.view == 'grid' %}display-viewGrid-active{% endif %}">
                    <img src="{% static 'img/gfx.spacer.gif' %}" class="icon icon-lg-grid">
                </a>
            </div>

        </div>

        {% if request.session.view != 'grid' %}

            {% include 'products_view_standard.html' %}

        {% else %}

            {% include 'products_view_grid.html' %}

        {% endif %}

  </div>


    {% if products.has_other_pages %}

        <div class="bottomToolBar clearfix" style="border-bottom: 1px solid #d6d6d6;">

        <!-- begin: breadcrumbs: nav_list_top_?.html -->
        {% include 'tools_pagination.html' %}
        <!-- begin: nav_list_bottom_?.html -->

        <div class="bottomToolBar clearfix pagination">
            <span class="product-list-status">page:

                {% for page in products.paginator.page_range %}
                    {% if page == products.number %}
                        <a class="os_pages active" href="{% if search %}{% url 'product:search' %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% endif %}">
                            {{ page }}
                        </a> |
                    {% else %}
                        <a class="os_pages" href="{% if search %}{% url 'product:search' %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% else %}{% url 'product:product_list' item.slug %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% endif %}">
                            {{ page }}
                        </a> |
                    {% endif%}
                {% endfor %}

                </span>
            <span class="product-list-status float_right">{{ products.number }}-{{ products.paginator.num_pages }}| {{ products.paginator.count }} Article</span>
        </div>

    {% endif %}

    </div>
    <div id="ie_clearing">&nbsp;</div>
    <!-- End: IE Column Clearing -->

</div>