.pp-variants-wrap {
    margin-bottom: 1em;
}

.pp-variants {
    margin-bottom: 0.6em;
    overflow: hidden;
}

ul .pp-variants-list {
    list-style: none;
    line-height: 1em;
    margin-left: 0;
}

.pp-variants-i {
    display: inline-block;
    vertical-align: middle;
    /*margin: 0 5px 6px 0;*/
    margin: 0 2px 3px 0;
}

.pp-variants-i.active .btn-link {
    background-color: #941912;
    border: 1px solid #8b1713;
    -webkit-box-shadow: inset 5px 5px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 5px 5px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 5px 5px 3px 0 rgba(0, 0, 0, 0.1);
}

.pp-variants-i .btn-link {
    border: 1px solid transparent;
}

.pp-variants-i.active .btn-link-i {
    padding: 2px 4px;
    color: #fff;
    cursor: default;
    font-weight: bold;
}

.pp-variants-i .btn-link-i {
    display: block;
    min-width: 34px;
    max-width: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 8px 6px;
    font-size: 0.65rem;
    line-height: 1.1875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
}

.btn-link-i {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /*z-index: 1;*/
    outline: none;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn-link-gray {
    background: #f1f1f1;
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -ms-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    border: 1px solid #ececec;
    border-bottom: 0;
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5), inset 0 -3px 0 0 #c1c1c1;
}

.btn-link {
    background-clip: padding-box;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    outline: 0em;
    border-radius: 3px;
    margin-bottom: 2px;
}

.pp-variants-i .btn-link-i:link, .pp-variants-i .btn-link-i:visited {
    color: #8a8a8a;
}

.btn-link-gray:hover {
    background: #faf8e1;
    background: -webkit-linear-gradient(top, #fff, #faf8e1);
    background: -ms-linear-gradient(top, #fff, #faf8e1);
    background: -moz-linear-gradient(top, #fff, #faf8e1);
}

a.btn-link-i:link, a.btn-link-i:hover {
    color: #941912;
}

