.box {
    /*float:left;*/
    margin: 20px 10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:5px;
    padding:30px 25px;
    min-height: 155px;
    /*width:200px;*/
}

.boxen h3 {
    margin: 0 -5px 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.shop {
    background: url(/static/img/bg.home.box.png) top center;
    margin: 10px 10px;
    padding: 15px 25px;
}

.boxen .yform {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0 !important;
}

.boxen .yform input {
    width: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 3px;
    height: 30px;
}

div.buttonsContainer{
    /*float: left;*/
    padding: 1.5em 0.5em 0 0.5em;
}

.boxen .yform input.pn-input {
    display: inline-block;
    width: inherit;
}

.type-text label {
    color: #ffffff;
    font-weight: 700;
}

p.help  {
    color: #ffffff;
    font-style: italic;
}

#col3_content {
    padding: 0;
}