{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <title>
        {% block title %}

            Sturm MIL-TEC® Online-Shop

            (www.sturm-miltec.de)

        {% endblock %}
    </title>

    <meta name="publisher" content="Sturm Handels GmbH">

    <!-- ICONS -->
    <!-- speed-dial-icon -->
    <link rel="icon" href="{% static 'img/appletouch.ipad-retina.png' %}" type="image/png" media="(view-mode:minimized)">

    <meta http-equiv="preview-refresh" content="3600">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
    <link rel="icon" href="{% static 'img/icon.ico' %}" type="image/ico">

    <!-- apple-touch-icon -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/appletouch.ipad-retina.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/appletouch.iphone4.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/appletouch.ipad.png' %}">
    <link rel="apple-touch-icon"  href="{% static 'img/appletouch.iphone.png' %}">

    <link href="{% static 'css/my_css.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/buyer.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom Design -->

    <link type="text/css" href="{% static 'css/3col_fullheight.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'css/01.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'css/widget70.css' %}" rel="stylesheet">


    <!--[if IE]>
	<link href="/shop/images/img002/style/css/yaml/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

    <!--[if lte IE 7]>
	<link href="/shop/images/img002/style/css/patches/patch_3col_fullheight.css" rel="stylesheet" type="text/css" />
	<![endif]-->

    <!--[if IE 7]>
	<link href="/shop/images/img002/style/css/screen/content_eidamo_ie7.css" rel="stylesheet" type="text/css" />
	<![endif]-->

    <!--[if lte IE 6]>
	<link href="/shop/images/img002/style/css/patches/patch_3col_fullheight.css" rel="stylesheet" type="text/css" />
	<link href="/shop/images/img002/style/css/screen/content_eidamo_ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->



    <!--[if lte IE 9]>
		<link href="/shop/images/img002/main/custom_design/01_ie9.css" rel="stylesheet" type="text/css" />
		<![endif]-->

    <!--[if lte IE 8]>
		<link href="/shop/images/img002/main/custom_design/01_ie8.css" rel="stylesheet" type="text/css" />
		<![endif]-->

    <!--[if lte IE 7]>
		<link href="/shop/images/img002/main/custom_design/01_ie7.css" rel="stylesheet" type="text/css" />
		<![endif]-->

    <!--[if lte IE 6]>
		<link href="/shop/images/img002/main/custom_design/01_ie6.css" rel="stylesheet" type="text/css" />
		<![endif]-->

    <!-- CSS fuer JavaScript-Test einfuegen -->
    <script type="text/javascript">
        <!--
        document.write("<link href='/static/css/js.css' rel='stylesheet' type='text/css' ");
        document.write("/>");
        //-->
    </script>

    <script type="text/javascript">
        if(window.location.pathname == '/'){
            document.write('<link href=' + '"{% static 'css/home.css' %}"' +  'rel="stylesheet" type="text/css">');
        } else{
            document.write('<link href=' + '"{% static 'css/content_eidamo.css' %}"' +  'rel="stylesheet" type="text/css">');
        }
    </script>

    <link href="{% static 'css/js.css' %}" rel="stylesheet" type="text/css">

    <!-- (en) Tie-in for jQuery and the used plugins -->
    <!-- (de) Einbindung von jQuery und verwendete plugins -->

    <script type="text/javascript" src="{% static 'js/jquery.library.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.eidamo.min.js' %}"></script>

    <!-- my js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/my_js.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/product.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/buyer.js' %}" type="text/javascript"></script>

    {% block script %}{% endblock %}
    <!-- By default the min. IE ver is set to 6. Change as desired. -->
    <!--[if lt IE 6]>

    <![endif]-->

    <script src="{% static 'js/shop_0.js' %}" type="text/javascript"></script>

</head>

<body id="shop_main">


{% block register %}

    <div class="page_margins">

        <div class="page">

            <div class="pagePadding">

                {% block cart %}

                    <div id="header" role="banner">
                        <span class="headerInner">

                            <div id="fix-head">
                                <div id="topnav" role="contentinfo">

                                    <span id="messages">

                                        {% include 'messages.html' %}

                                    </span>

                                    <span style="float: right">

                                            <!-- LOG IN / EINLOGGEN -->
                                        {% if request.user.is_authenticated %}
                                            <a class="exchange" href="{% url 'buyer:logout' %}?next={{ request.path }}" title="{{ request.user.get_full_name }}">
                                                Выйти (<b> {{ request.user.get_full_name }} </b>)
                                            </a>
                                        {% else %}

                                            <a href="{% url 'buyer:register' %}" title="Регистрация / Войти">
                                                Регистрация
                                            </a>

                                        {% endif %}

                                        <!-- MY CART / WARENKORB -->
                                            <a class="cart_url" href="{% url 'cart:detail' %}" title="Корзина">
                                                Корзина: <b>{% if total_price %}{{ total_price }}{% else %}0.00{% endif %}&nbsp;EUR*</b>
                                            </a>
                                            <a class="exchange" href="#" title="Курс">
                                                Курс EUR: <b>{{ exchange }}</b>
                                            </a>
                                        </span>

                                </div>
                            </div>

                            <h1>
                                <a href="{% url 'menu:homepage' %}" title="Sturm MIL-TEC® Online-Shop : Главная">
                                    <img src="{% static 'img/logo.png' %}" alt="Sturm MIL-TEC® Online-Shop">
                                </a>
                            </h1>
                        </span>
                    </div>

                    {% include "navbar.html" %}

                    {% block content %}


                        <div id="main"><span class="main">

            <!-- begin: #col3 static center column -->
            <div id="col3" role="main">
                <div id="col3_content" class="clearfix">
                    <img class="start_picture" src="{% static 'img/grafik_mitte.jpg' %}" alt="Sturm MIL-TEC® Online-Shop" title="Sturm MIL-TEC® Online-Shop">

                    <!-- EIDAMO_CUSTOMERLOGIN_START -->
                    <div class="boxen">
                        <div class="first box">
                            <div class="textContainer">
                                <h3>ЗАМЕТКА</h3>
                                <p>Пожалуйста, обратите внимание, что мы являемся оптовым дистрибьютором и поставки только для уполномоченных дилеров</p>
                            </div>

                            <div class="buttonsContainer">
                                <a href="#" target="_blank" title="Найти дилера" class="formButton">
                                    <b>Найти дилера</b>
                                </a>
                            </div>
                        </div>

                        <div class="last box">

                            {% if request.user.is_authenticated %}

                                <div class="textContainer">
                                    <h3>РЕГИСТРАЦИЯ В КАЧЕСТВЕ АВТОРИЗОВАННОГО ДИЛЕРА</h3>
                                    <p>Вы еще не Mil-Tec<sup>®</sup><br>специалист дилера?</p>
                                    <p>Здесь вы можете стать одним ...</p>
                                </div>

                                <div class="buttonsContainer">
                                    <a  href="{% url 'buyer:update' %}" title="Изменить профиль" class="formButton">
                                        <b>Изменить профиль</b>
                                    </a>
                                </div>

                            {% else %}

                                <div class="textContainer">
                                    <h3>РЕГИСТРАЦИЯ В КАЧЕСТВЕ АВТОРИЗОВАННОГО ДИЛЕРА</h3>
                                    <p>Вы еще не Mil-Tec<sup>®</sup><br>специалист дилера?</p>
                                    <p>Здесь вы можете стать одним ...</p>
                                </div>

                                <div class="buttonsContainer">
                                    <a  href="{% url 'buyer:register' %}" title="Регистрация" class="formButton">
                                        <b>РЕГИСТРАЦИЯ</b>
                                    </a>
                                </div>

                            {% endif %}

                        </div>

                        <div class="shop box">
                            {% if request.user.is_authenticated %}

                                <div class="textContainer">
                                    <h3>ИНТЕРНЕТ МАГАЗИН</h3>
                                    <p>Пожалуйста, обратите внимание, что мы являемся оптовым дистрибьютором и поставки только для уполномоченных дилеров</p>
                                </div>

                                <div class="buttonsContainer">
                                    <a href="{% url 'buyer:logout' %}" title="Выйти" class="formButton">
                                        <b>Выйти</b>
                                    </a>
                                </div>

                            {% else %}

                                <h3>ИНТЕРНЕТ МАГАЗИН</h3>
                                <div class="forms">

                                    {% include 'login.html' %}

                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="ie_clearing">&nbsp;</div>

            </div>

        </span>
                        </div>

                    {% endblock %}

                    <div class="clear"></div>

                {% endblock cart %}

            </div>

        </div>

    </div>

    {% include "footer.html" %}

{% endblock %}

<!-- (en) Workaround for IE8 und Webkit browsers to fix focus problems when using skiplinks -->
<!-- (de) Workaround für IE8 und Webkit browser, um den Focus zu korrigieren, bei Verwendung von Skiplinks -->
<script type="text/javascript" src="{% static 'js/yaml-focusfix.js' %}"></script>

</body>
</html>