{% load staticfiles %}

<div id="footer" role="contentinfo">
    <div id="footer_content">

        <div class="c16l">
            <ul>
                <li><a href="#">Startseite</a></li>
                <li><a href="#">Detailsuche</a></li>
                <li><a href="#">nach Oben</a></li>

            </ul>
        </div>

        <div class="c16l">
            <ul>
                <li>
                    <a href="#" title="Kontakt" target="_blank">Kontakt</a>
                </li>
                <li>
                    <a href="#" target="_blank">Reklamationsformular</a>
                </li>
            </ul>
        </div>

        <div class="c16l">
            <ul>
                <li>
                    <a href="#">Impressum</a>
                </li>

                <li>
                    <a href="#">Datenschutz</a>
                </li>

                <li>
                    <a href="#">AGB</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="footerCopyrights">

        <div class="float_left">

            * Preise zzgl. der gesetzlichen MwSt. und zzgl. Versandkosten, sofern nicht anders ausgewiesen.

            <br>

            <!--[*EIDAMO_WORDS:COPYRIGHT_DATE*]-->© 2004-2015 Sturm Handels GmbH Alle Rechte vorbehalten.
        </div>

    </div>

    <div class="edge edge-bl"></div>
    <div class="edge edge-br"></div>
</div>
<!-- end: #footer -->