{% load staticfiles %}

<div id="footer" role="contentinfo">
    <div id="footer_content">

        <div class="c16l">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Поиск деталей</a></li>
                <li><a href="#">Вернуться к началу</a></li>

            </ul>
        </div>

        <div class="c16l">
            <ul>
                <li>
                    <a href="#" title="Контакт" target="_blank">Контакт</a>
                </li>
                <li>
                    <a href="#" target="_blank">Форма возврата</a>
                </li>
            </ul>
        </div>

        <div class="c16l">
            <ul>
                <li>
                    <a href="#">Выходные данные</a>
                </li>

                <li>
                    <a href="#">Защита & Условия</a>
                </li>

                <li>
                    <a href="#">Правила и условия продажи</a>
                </li>

            </ul>
        </div>

    </div>

    <div class="footerCopyrights">

        <div class="float_left">

            * Цены без учета. налоговые и транспортные сборы, если не указано иное.

            <br>

            <!--[*EIDAMO_WORDS:COPYRIGHT_DATE*]-->© 2004-2015 Sturm Handels GmbH Все права защищены.
        </div>

    </div>

    <div class="edge edge-bl"></div>
    <div class="edge edge-br"></div>
</div>
<!-- end: #footer -->