{% extends "base.html" %}{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="container">
            <div class="breadcrumbs" style="color:white; padding-bottom:5px">
                <a href="{% url 'menu:homepage' %}">{% trans 'Home' %}</a>
                &rsaquo; {% trans 'Password reset' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block register %}
    <div class="form-title">
        <h3>{% trans "Your password has been set.  You may go ahead and log in now." %}</h3>
    </div>
    <div class="aligned-center">
        <h4><a class="check-edit-order-link" href="{{ login_url }}">{% trans 'Войти с главной страницы' %}</a></h4>
    </div>
{% endblock %}
