{% extends "base.html" %}{% load staticfiles %}{% load i18n %}

{% block script %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="container">
            <div class="breadcrumbs" style="color:white; padding-bottom:5px">
                <a href="{% url 'menu:homepage' %}">{% trans 'Home' %}</a>
                &rsaquo; {% trans 'Password reset confirmation' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block register %}
    <div class="page_margins">
        <div class="page">
            <div class="pagePadding">
                <div id="col3" role="main">
                    <div id="col3_content" class="clearfix">
                        <div class="boxen">
                            <div class="my-shop box">

                                {% if validlink %}

                                    <div class="form-title">
                                        <h3>{% trans "Дважды введите пароль своего профиля, чтобы убедиться, что вы правильно его набрали." %}</h3>
                                    </div>
                                    <div class="forms">
                                        <form class="register yform" method="post">
                                            {% csrf_token %}

                                            {% for field in form %}
                                                {% if field.errors %}
                                                <div class="form-group has-error">
                                                    {% for error in field.errors %}
                                                        <label class="control-label errorlist"><em>{{ error }}</em></label>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                                <div class="type-text">
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                </div>
                                            {% endfor %}

                                            <div class="clearfix cart-total">
                                                 <span class="cart-return-link">
                                                     <span class="btn-link btn-link-gray">
                                                         <a href="{% url 'menu:homepage' %}" class="btn-link-i" name="close">ВЕРНУТЬСЯ НАЗАД</a>
                                                     </span>
                                                 </span>
                                                <span class="cart-submit">
                                                    <span class="btn-link-green btn-link">
                                                        <button class="btn-link-i" id="popup-checkout" type="submit">{% trans 'Change my password' %}</button>
                                                    </span>
                                                </span>
                                            </div>
                                        </form>
                                    </div>

                                {% else %}

                                    <div class="row">
                                        <div class="container">
                                            <div class="col-lg-12 col-xs-12" style="text-align: justify">
                                                <h4>{% trans "Ссылка на сброс пароля недействительна, возможно, потому, что она уже используется. Пожалуйста, запросите сброс пароля своего профиля." %}</h4>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
