{% extends "base.html" %}{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="container">
            <div class="breadcrumbs" style="color:white; padding-bottom:5px">
                <a href="{% url 'menu:homepage' %}">{% trans 'Home' %}</a>
                &rsaquo; {% trans 'Password reset' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block register %}
    <div class="page_margins">
        <div class="page">
            <div class="pagePadding">
                <div id="col3" role="main">
                    <div id="col3_content" class="clearfix">
                        <div class="boxen">
                            <div class="my-shop box">
                                <div class="form-title">
                                    <h3>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</h3>
                                    <h3>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
